*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{border: 0px;}
a{text-decoration: none;}
a:hover{
    text-decoration:none;
    color: white;
}
h4{
    padding-left: 30px;
    padding-top: 50px;
     font-family: arial; 
     font-weight: bolder;
    }
.cad-usuario{
     padding-left: 20px;
     padding-bottom: 6px;
     padding-right: 20px;
     padding-top: 6px;
     margin-top: 6px;
}
.cad-link{
        font-weight: bolder;
        color: white;
        border: none;
}
.div-cad{padding-left: 100%;}
