*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body>table{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,50%);
    font-size: 20px;
    width: 60%;
    height: 30%;
    color: rgb(49, 48, 48);
    border-radius: 5px;
    text-align: center;
}
.titulos{
    font-weight: bold;
    background-color: rgb(235, 233, 233);
}
.alt{
    color: black;
    text-decoration: none;
    background-color: #ccc;
    border: 3px;
    font-size: 16px;
}
.alteracao{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%,50%);
    font-size: 20px;
    color: rgb(49, 48, 48);
    border-radius: 5px;
    text-align: center;
}

.button-cad{
   padding-left: 20px;
   padding-bottom: 6px;
   padding-right: 20px;
   padding-top: 6px;
   background-color: #ccc;
}

.cad-link{
    text-decoration: none;
    font-weight: bolder;
    color: black;
    border: none;
}

hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    height: 0;
    width: 100%;
    max-height: 0;
    font-size: 1px;
    line-height: 0;
    clear: both;
    border: none;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #ffffff;
 }